body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}
    
    header {
      background-color: #f8f8f8;
      text-align: center;
    }

    #logo {
      max-width: 40%;
      height: auto;
    }

    nav {
      background-color: white;
      overflow: hidden;
      text-align: center
    }

    nav a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 15px 20px;
      text-decoration: none;
    }

    nav a:hover {
      background-color: orange;
      color: white;
    }
    
  .form-container {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px;
  }
  .form-container h2 {
      text-align: center;
      margin-bottom: 20px;
  }
  .form-container label {
      display: block;
      margin-bottom: 5px;
      
  }
  .form-container input {
      width: 80%;
      padding: 10px;
      margin: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  .form-container button {
      width: 100%;
      padding: 10px;
      background-color: orange;;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  .form-container button:hover {
      background-color: orange;;
  }
  #prodotti {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .tessere{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4%;
  }
.tessere img {
  max-width: 400px;
  height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.tessere img.enlarged {
    transform: scale(2); /* Adjust the scale as needed */
}


footer{
  background color: white;
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
  justify content: center;
  padding: 2%;
}
