
    body {
      font-family: Arial, sans-serif;
      font-size: 12px;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #f8f8f8;
      padding: 10px;
      text-align: center;
    }

    #logo {
      max-width: 40%;
      height: auto;
    }

    nav {
      background-color: white;
      overflow: hidden;
      text-align: center
    }

    nav a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    nav a:hover {
      background-color: orange;
      color: white;
    }
 